@use "utils" as *;

$color_type_0: rgb(170, 170, 170);
$color_type_1: rgb(217, 217, 217);
$color_type_2: rgb(250, 250, 250);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgb(32, 32, 32);

$border_radius_type_0: 14px 14px 14px 14px;
$border_radius_type_1: 23px 23px 23px 23px;

$font_type_0: 400 30px/1.16 "Open Sans", Helvetica, Arial, serif;
$font_type_1: 400 25px/1.15 "Open Sans", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_3;
  position: relative;
  overflow: hidden;
}
.decorator {
  width: calc(100% - -408px);
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  bottom: -47px;
  left: -204px;
  right: -204px;
}
.flexRow {
  display: flex;
  @include xl {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
  position: relative;
  flex-grow: 1;
  margin: 26px 40px 40px;
  @include lg {
    margin: 26px 32px 40px;
  }
  @include md {
    margin: 26px 28px 40px;
  }
  @include sm {
    margin: 26px 24px 40px;
  }
  @include xs {
    margin: 26px 20px 40px;
  }
  @include xxs {
    margin: 26px 16px 40px;
  }
}
.flexRow__item {
  @include flex-column;
  position: relative;
  flex: 1 1 960px;
  @include xl {
    flex: 0 0 100%;
  }
}
.flexCol {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 17px;
}
.flexCol__item {
  @include flex-column;
  position: relative;
}
.image2 {
  width: 58.44%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  margin: 0px 41.35% 0px 0.21%;
}
.flexCol1 {
  @include flex-column;
  position: relative;
  margin: 28px 0px 0px;
}
.rect4 {
  background-color: $color_type_1;
  height: 540px;
  position: relative;
}
.flexRow1 {
  display: flex;
  @include xl {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
  position: relative;
  margin: 57px 0px 0px;
}
.flexRow1__item {
  @include flex-column;
  position: relative;
  flex: 1 1 460px;
  @include xl {
    flex: 0 0 100%;
  }
}
.content_box {
  @include flex-column;
  border-radius: $border_radius_type_1;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
}
.flexCol2 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 27px 15px 31px 18px;
  @include md {
    margin: 27px 8px 31px 12px;
  }
  @include sm {
    margin: 27px 8px 31px;
  }
  @include tn {
    margin: 27px 4px 31px 8px;
  }
}
.flexCol2__item {
  @include flex-column;
  position: relative;
}
.image3 {
  width: 49.18%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  margin: 0px 50.82% 0px 0%;
}
.flexRow2 {
  display: flex;
  position: relative;
  margin: 32px 0px 0px 13.5px;
  @include md {
    margin: 32px 0px 0px 8px;
  }
  @include xxs {
    margin: 32px 0px 0px 4px;
  }
}
.flexRow3 {
  @include flex-item(0, 1, 291.5px);
  margin: 3px 0px 4px;
}
.title {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 24px;
    text-align: center;
  }
  @include sm {
    font-size: 20px;
  }
  @include xxs {
    font-size: 16px;
  }
  position: relative;
  flex: 0 0 auto;
  min-width: 157px;
}
.flexRow3__item {
  @include flex-column;
  position: relative;
  flex: 0 1 134.5px;
}
.rect2 {
  background-color: $color_type_3;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  height: 35px;
  position: relative;
  margin: 0px 0px 0px 3.5px;
}
.flexRow2__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.wrapper {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -1px;
  position: relative;
  flex: 0 1 110px;
}
.medium_title {
  @include v-center-content;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 20px;
    text-align: center;
  }
  @include sm {
    font-size: 16px;
  }
  position: relative;
  flex-grow: 1;
  min-height: 32px;
  margin: 5px;
}
.flexRow4 {
  display: flex;
  position: relative;
  margin: 25px 0px 0px 0.5px;
}
.flexRow5 {
  @include flex-item(0, 1, 304.5px);
  margin: 2px 0px 4px;
}
.title1 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 24px;
    text-align: center;
  }
  @include sm {
    font-size: 20px;
  }
  @include xxs {
    font-size: 16px;
  }
  position: relative;
  flex: 0 0 auto;
  min-width: 170px;
  margin: 0px 0px 1px;
}
.flexRow5__item {
  @include flex-column;
  position: relative;
  flex: 0 1 134.5px;
}
.rect21 {
  background-color: $color_type_3;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  height: 35px;
  position: relative;
  margin: 1px 0px 0px 3.5px;
}
.flexRow4__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 12px;
}
.flexRow1__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 40px;
  @include xl {
    display: none;
  }
}
.content_box1 {
  @include flex-column;
  border-radius: $border_radius_type_1;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  position: relative;
  flex-grow: 1;
}
.flexCol3 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 27px 13px 11px 10px;
  @include lg {
    margin: 27px 8px 11px 10px;
  }
  @include md {
    margin: 27px 8px 11px 4px;
  }
  @include xs {
    margin: 27px 4px 11px;
  }
}
.flexCol3__item {
  @include flex-column;
  position: relative;
}
.image1 {
  width: 62.7%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  margin: 0px 36.84% 0px 0.46%;
}
.flexRow6 {
  display: flex;
  position: relative;
  margin: 21px 0px 0px;
}
.flexRow6__item {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.icon {
  width: 20px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  min-width: 20px;
  margin: 8px 0px 7px;
}
.flexRow6__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 13px;
}
.title2 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 24px;
    text-align: center;
  }
  @include sm {
    font-size: 20px;
  }
  @include xxs {
    font-size: 16px;
  }
  position: relative;
  flex: 0 0 auto;
  min-width: 105px;
}
.flexRow7 {
  display: flex;
  position: relative;
  margin: 11px 0px 0px;
}
.flexRow7__item {
  @include flex-column;
  position: relative;
  flex: 0 1 20px;
}
.flexRow7__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 13px;
}
.title3 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 24px;
    text-align: center;
  }
  @include sm {
    font-size: 20px;
  }
  @include xxs {
    font-size: 16px;
  }
  position: relative;
  flex: 0 0 auto;
  min-width: 168px;
}
.rect3 {
  background-color: $color_type_3;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  height: 35px;
  position: relative;
  flex: 0 1 223px;
}
.flexRow8 {
  display: flex;
  width: 54%;
  position: relative;
  margin: 17px 0% 0px 46%;
}
.flexRow8__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.wrapper1 {
  @include flex-column;
  background-color: $color_type_1;
  border-radius: $border_radius_type_0;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -1px;
  position: relative;
  flex: 0 1 110px;
}
.medium_title1 {
  @include v-center-content;
  justify-content: center;
  font: $font_type_1;
  color: $color_type_0;
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 20px;
    text-align: center;
  }
  @include sm {
    font-size: 16px;
  }
  position: relative;
  flex-grow: 1;
  min-height: 32px;
  margin: 5px;
}
.flexRow__spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 40px;
  @include xl {
    display: none;
  }
}
.flexRow__item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 432px;
  @include xl {
    flex: 0 0 100%;
  }
}
.flexCol4 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 27px 0px 0px;
}
.flexCol4__item {
  @include flex-column;
  position: relative;
}
.image {
  width: 30.56%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  margin: 0px 69.21% 0px 0.23%;
}
.rect1 {
  background-color: $color_type_3;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
  height: 842px;
  position: relative;
  margin: 9px 0px 0px;
}
.red_grad {
  .h1 {
      font-size: 48px;
  }
  .h2 {
      font-size: 30px;
  }
  font-family: Arial;
  font-weight: bold;
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #ff8008, #ffa41f 20%, #ffc837 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 1px white; /* webkitのベンダープレフィックス */
  text-stroke: 1px white;         /*　ベンダープレフィックスのない指定方法 */
}

